<!DOCTYPE html>
<html>

	<head>
		<title>Bootstrap Layout</title>
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


	
	</head>
	<center>
		<img src="/static/Images/SyllaWise.png" style="position: absolute; top: 60px; left: 500px;" alt = "Picture of Logo" width="350" height="100"/>	
	</center>
	<body>
		<header class="navbar" role="banner">
			<div class="container">
			<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" target ="_self">Home</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about" target ="_self">About SyllaWise</a></li>
      </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<form action="/calendar" method="POST" enctype="multipart/form-data">
<ul id="assignments">
<h1>Assignments</h1>
{{ our_list }}
{% for thing in assignmentList %}
	<input type="text" name="a_Date{{ thing.index }}" value="{{ thing[0] }}">
	<input type="text" name="a_Description{{ thing.index }}" value="{{ thing[1] }}"><br>
{% endfor %}
</ul>

<ul id="exams">
<h1>Exams</h1>
{% for thing in exams %}
	<input type="text" name="e_Date{{ thing.index }}" value="{{ thing[0] }}">
	<input type="text" name="e_Description{{ thing.index }}" value="{{ thing[1] }}"><br>
{% endfor %}	
</ul>
<input type="submit">
</form>
</body>
</html>