<!doctype html>
<html>
	<head>
		<title>Bootstrap Layout</title>
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


	
	</head>
	<center>
	<h1 style = "color: black"> <font size ="20" face = "Kristen ITC"><b>SyllaWise</b></font> </h1>
	<link rel="parent" href="wildcats.htm" target="_blank">
	</center>
	<body>
		<header class="navbar" role="banner">
			<div class="container">
			<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html" target ="_self">Home</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="about.html" target ="_self">About SyllaWise</a></li>
      </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</body>

  assignmentList= [('01/21','Kayla'),('05/23','Shashank'),('03/23', 'Narjis'),('12/23','John')]

  <h1>Confirm</h1>
  <ul>
  {% for element in assignmentList %}
    {% for key, value in elements.items() %}
      <input type="text" name="Date" value="{{key}}">
      <input type="text" name="Description" value="{{value}}">
    {% endfor %}
  </ul>
